name: Build & Deploy WebGL

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      # This deletes unnecessary stuff from the runner to make space for the huge docker image built later
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Get Unity Version
        id: get-unity-version
        run: |
          # Extract the Unity version from the project settings file
          UNITY_VER=$(grep 'm_EditorVersion:' ProjectSettings/ProjectVersion.txt | awk '{print $2}')
          echo "version=$UNITY_VER" >> $GITHUB_OUTPUT
          echo "Found Unity-Version: $UNITY_VER"
      
      - name: Restore Library cache
        uses: actions/cache@v4
        with:
          path: Library
          # We add the extracted Unity-Version into the cache key, 
          # to have a clean cache on unity version upgrade.
          key: Library-WebGL-${{ steps.get-unity-version.outputs.version }}-${{ hashFiles('Packages/manifest.json') }}
          restore-keys: |
            Library-WebGL-${{ steps.get-unity-version.outputs.version }}-
            Library-WebGL-

      - name: Unity Build
        uses: game-ci/unity-builder@v4
        id: unityBuild
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          versioning: Semantic
          targetPlatform: WebGL
          unityVersion: 6000.0.50f1
          # TODO Change the buildName to the game name                    
          buildName: FallingBlocks
          buildsPath: build
          
      - name: Print Version Number
        run:  echo Project Version ${{ steps.unityBuild.outputs.buildVersion }}        

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-WebGL
          path: build/WebGL
      
      - run: ls -la
          
  deploy:
    name: Deploy to itch.io
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:

      - uses: actions/download-artifact@master
        with:
          name: build-WebGL
          path: build/WebGL 

      - run: ls -la
    
      - name: Butler Deploy
        uses: manleydev/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
          CHANNEL: html5
          # TODO Change game name here
          ITCH_GAME: falling-blocks
          ITCH_USER: Exenter
          PACKAGE: build/WebGL
          VERSION: ${{ steps.unityBuild.outputs.buildVersion }}